In [1]:
cd /home/jovyan

/home/jovyan

In [2]:
from lib.database import query_database, query_to_dataframe

In [3]:
query_database("SELECT COUNT(*) FROM adult;")

[{'count': 32561}]

In [4]:
adult_df = query_to_dataframe("SELECT * FROM adult;")

In [5]:
adult_df.head()

,age,capital_gain,capital_loss,education,education_num,fnlwgt,gender,hours_per_week,income_label,marital_status,native_country,occupation,race,relationship,workclass
0,39,2174,0,Bachelors,13,77516,Male,40,<=50K,Never-married,United-States,Adm-clerical,White,Not-in-family,State-gov
1,50,0,0,Bachelors,13,83311,Male,13,<=50K,Married-civ-spouse,United-States,Exec-managerial,White,Husband,Self-emp-not-inc
2,38,0,0,HS-grad,9,215646,Male,40,<=50K,Divorced,United-States,Handlers-cleaners,White,Not-in-family,Private
3,53,0,0,11th,7,234721,Male,40,<=50K,Married-civ-spouse,United-States,Handlers-cleaners,Black,Husband,Private
4,28,0,0,Bachelors,13,338409,Female,40,<=50K,Married-civ-spouse,Cuba,Prof-specialty,Black,Wife,Private